li { white-space: normal !important; line-height: 140%; font-family: 'Roboto', Helvetica, sans-serif; }
li a { text-shadow: 0 1px 0 #FDD259 !important; }
p { text-shadow: none; }
* { font-family: 'Roboto', Helvetica, sans-serif; }
.list-top { padding-left: 34px !important; text-indent: -18px !important; }
.list-sub1 { padding-left: 50px !important; text-indent: -34px !important; }
.nestedlist > li { padding-left: 5px !important; text-indent: 0px !important; }
.header-div h1 { overflow: visible !important; }
.subheading { background-color: #D9D9D9 !important; font-weight: normal !important; font-size: 14px !important; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/roboto.woff) format('woff');
}

.ui-page { -webkit-backface-visibility: hidden; }